.login span{
    display: inline-block;
    
}
.login span:nth-child(3),.login span:nth-child(4){
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 2;
    border-radius: 19px;
    border: 1px solid gray;
    cursor: pointer;
}
.login span:nth-child(3):hover,.login span:nth-child(4):hover{
   background:rgba(43, 35, 35, 0.1)
}
.logo img{
    max-width: 100%;
} 
.fix{
    position:fixed;
    top: 0;
    z-index: 999;
   background: #fff;
   box-shadow: 14px; 
   border-bottom: 1px solid #bbb;
}